.home-container {
    margin: 0 10vw;
}


.active-section {
    border-bottom: 2px solid red;
}

.altNav {
    border-bottom: 1px solid #EAEAEA;
}


.loader-container {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
}

.error-container {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}